/**
 *              **Grupo HttpCats**
 * ================================================
 * | Nome                            | RA         |
 * ================================================
 * | Ana Santos Nascimento           | 3036101499 |
 * | Breno Fessel Da Paz             | 3026104340 |
 * | Gabrielli Minhano Barbosa       | 3026103592 |
 * | Rafael Baptista de Almeida      | 3026103546 |
 * | Rafaella Pinto Hahon            | 3026102787 |
 * | Victor Nunes Garcia             | 3026101023 |
 * ================================================
 *
 * Site Institucional Code Cat Coffee
 *
 */
/**
 * LOGO
 */
.logotipo {
    display: flex;
    gap: 15px;
    align-items: center;

    .logo-icone {
        width: auto;
        height: 100px;
    }

    .logo-texto {
        h1 {
            margin: 0;
            color: var(--destaque-laranja);
            font-size: 26px;
            line-height: 1;
            text-transform: uppercase;
        }

        span {
            color: var(--branco);
            font-size: 13px;
        }
    }
}

/**
 * MENU
 */
.menu {
    position: sticky;
    scroll-margin-top: 100px;
    top: 0;
    z-index: var(--camada-maxima);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    /*box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);*/
    background-color: var(--fundo-marrom);
    color: var(--branco);

    .menu-botoes {
        display: flex;
        align-items: center;
        gap: 25px;

        li {
            list-style: none;
        }

        a {
            cursor: pointer;
            transition: all 0.2s ease;
            padding: 10px 25px;
            border-radius: 12px;
            background-color: transparent;
            color: var(--branco);
            font-size: 14px;
            font-weight: bold;
            text-decoration: none;
            text-transform: uppercase;

            &.ativo,
            &:hover {
                color: var(--destaque-laranja);
                accent-color: var(--destaque-laranja);
            }

            &:active,
            &:focus,
            &:focus-visible {
                background-color: var(--fundo-laranja);
                color: var(--branco);
                accent-color: var(--branco);
                box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.2);
            }
        }
    }
}
