/*CONFIGURAÇÕES GERAIS*/
body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /*fontes*/
    background-color: #fdfaf7;
}

/*LOGO*/
.logotipo {
    display: flex;
    align-items: center; /*alinha o texto e o icon verticalmente pelo centro*/
    gap: 15px;
}

/*espaço entre a logo e o texto*/
.logo-icone { /*ajuste de altura e comprimento da logo*/
    height: 100px;
    width: auto;
}

.logo-texto h1 { /*título da logo*/
    margin: 0;
    font-size: 26px;
    color: #e67e3c; /*logo texto*/
    line-height: 1;
}

.logo-texto span { /*utilizada para estilizar pequenas partes de texto ou elementos sem quebrar a linha*/
    font-size: 13px;
    color: white;
}