.menu { 
    background-color: #634226; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 15px 50px; 
    color: white; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.menu-botoes { 
    display: flex;
    align-items: center;
    gap: 25px;
}

.menu-botoes a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 14px;
    transition: 0.3s;
}

.menu-botoes a:hover {
    color: #e67e3c;
}

.btn-home, .btn-cardapio, .btn-avaliacoes, .btn-contato, .btn-empresa { 
    padding: 10px 25px;
    cursor: pointer;
    background-color: transparent;
    transition: all 0.2s ease;
}

.btn-home:hover, .btn-cardapio:hover, .btn-avaliacoes:hover, .btn-contato:hover, .btn-empresa.btn-empresa:hover { 
    border-radius: 12px;
}

.btn-home:active, .btn-cardapio:active, .btn-avaliacoes:active, .btn-contato:active, .btn-empresa:active {
    background-color: #f28d4f;
    color: white;
    border-radius: 12px;
    box-shadow: inset 0px 4px 6px rgba(0, 0, 0, 0.2); 
    transform: translateY(0px);
}
